{{> head }}
<div id="container">
  {{> header }}
  <div id="content">
    {{#if isArticle}}<article itemscope itemtype="http://schema.org/BlogPosting">{{/if}}
      {{{contents}}}
      {{#if isArticle}}</article>{{/if}}
  </div>
  {{> footer }}
</div>
{{> foot }}