/*=====================================
  Standard Styles
=======================================*/

html{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body, button, input, select, textarea{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

pre, code, samp, kbd, var{
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

a{ text-decoration: none; }

a:hover{ text-decoration: underline; }

img, a img{ border: 0; }

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

p{
  padding: 0;
}

caption{
  font-weight: bold;
  padding: .5em;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

th, td{
  vertical-align: top;
}

ul, ol{
  padding: 0;
}

dt{
  font-weight: bold;
}

dfn{
  font-style: normal;
  font-weight: bold;
}

abbr{ border-bottom: 1px dotted; }

form{
  margin: 0;
  padding: 0;
}

legend{
  font-weight: bold;
}

input, select, textarea, button{
  font-size: 1em;
  max-width: 100%;
  vertical-align: middle;
  margin: 0;
}

textarea{ overflow: auto; }

input.button, button{
  padding: 0 .5em;
  overflow: visible;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}


/*=====================================
  Site Styles
=======================================*/

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/WorkSans-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/WorkSans-Italic.woff2) format('woff2');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/WorkSans-Medium.woff2) format('woff2');
}
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/WorkSans-MediumItalic.woff2) format('woff2');
}

body{
  color: #444;
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
}

a{
  color: #0B62A0;
  padding: .25em;
  margin: -.25em;
  border-radius: 3px;
  text-decoration: underline;
}
a:hover{
  color: #000;
  text-decoration: underline;
}
a:focus{
  color: #000;
  background-color: rgba(0,0,0,.08);
  text-decoration: none;
}

strong, b, th, dt{
  font-weight: 500;
}

p, li{
  line-height: 1.5em;
}

ul, ol{
  margin-left: 1.35em;
}

img{
  max-width: 100%;
  height: auto;
}

p strong{
  color: #000;
}
p a strong{
  color: inherit;
}

code, kbd, samp, var{
  background-color: #fafafa;
  font-size: .9em;
}
:not(pre) > code,
:not(pre) > kbd,
:not(pre) > samp,
:not(pre) > var{
  color: #08632C;
  background-color: transparent;
}
:not(pre) > code:before,
:not(pre) > kbd:before,
:not(pre) > samp:before,
:not(pre) > var:before{
  content: '`';
  opacity: .5;
}
:not(pre) > code:after,
:not(pre) > kbd:after,
:not(pre) > samp:after,
:not(pre) > var:after{
  content: '`';
  opacity: .5;
}
pre code{
  background-color: auto;
}

#container{
  position: relative;
  margin: auto;
  max-width: 40em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

header{
  text-align: center;
  padding: 50px;
}
header h1{
  margin: 0;
}
header h1 a{
  display: inline-block;
  border-radius: 50%;
}
header h1 a:focus{
  transform: scale(.97);
}
header svg{
  vertical-align: top;
}
header h1 a:focus svg{
  -webkit-filter: brightness(.9);
  filter: brightness(.9);
}

#content{
  padding: 0 1em;
}
#content h1{
  font-size: 44px;
  line-height: 1.2em;
  margin: 0 0 .5em;
  text-align: center;
  letter-spacing: -.05em;
  font-weight: 500;
}

#content header{
  text-align: left;
  padding: 0;
  background-image: none;
}

#content article h1+time{
  display: block;
  text-align: center;
  padding: 0 0 4em;
  color: #767676;
}

#content h2{
  font-size: 20px;
  letter-spacing: -.025em;
  color: #333;
  margin: 0 0 .75em;
  line-height: 1.2em;
}
#content *+h2{
  margin-top: 1.5em;
}

#content article.summary h2{
  margin-bottom: .5em;
}
#content article.summary time{
  color: #767676;
  display: block;
  margin: 0 0 .75em;
}

#content p{
  margin: 0 0 1em;
}

#content ul,
#content ol{
  margin-bottom: 1em;
}

#content dt{
  margin-bottom: 1em;
  color: #000;
}
#content dd{
  margin-left: 1.35em;
}
#content pre{
  margin: 0 0 1em;
  border-radius: 3px;
  padding: 1em;
  background-color: #f3f3f3;
  font-size: .9em;
  line-height: 1.5em;
  overflow: auto;
}
#content pre code,
#content pre kbd,
#content pre samp,
#content pre var{
  background-color: inherit;
}
#content pre em,
#content pre strong{
  color: #f00;
  font-style: normal;
}
#content pre em.remark{
  color: #767676;
  font-style: normal;
}
#content pre var{
  color: #060;
  font-style: normal;
}
#content blockquote{
  border-left: 3px solid #999;
  padding: .3em 0 .3em 1em;
  margin: 0 0 1em;
}
#content blockquote p:last-child{
  margin-bottom: 0;
}
#content table{
  margin: 0 auto 1em;
  border: 1px solid #ddd;
}
#content table td,
#content table th{
  padding: .5em 1.5em;
}
#content table thead th{
  text-align: center;
  background-color: #eee;
}
#content table tbody th{
  text-align: left;
}
#content table tbody tr:nth-child(even){
  background-color: #fafafa;
}

#content aside{
  padding: 5px 10px;
}
#content aside,
#content aside p{
  line-height: 28px;
  background-color: #FFF5D9;
  text-align: right;
}

/*For Pinyin..., something special*/
.pinyin{
  font-style: italic;
}

.remark{
  font-style: italic;
  color: #767676;
}

:lang(ms){
  font-style: italic;
}

#content figure{
  text-align: center;
  margin: 1em -1em;
}
#content *+figure{
  margin-top: 2em;
  margin-bottom: 2em;
}
#content time+figure{
  margin-top: 0;
}
#content figure.image-aside{
  margin: 0 0 1em 1em;
  padding: 10px;
  background-color: rgba(255,255,255,.5);
  float: right;
  clear: right;
}

#content figure a{
  padding: 0;
  margin: 0;
  border: 0;
}
#content figure a img{
  vertical-align: bottom;
}
#content figure a:focus img{
  -webkit-filter: brightness(.9);
  filter: brightness(.9);
}

#content hr{
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2em;
}

footer{
  padding: 50px;
  text-align: center;
  color: #767676;
}
footer a{
  color: inherit;
}
footer nav ul{
  list-style: none;
  display: block;
  margin: 0 0 20px;
}
footer nav ul li{
  display: inline;
}
footer nav ul li a{
  margin: 0 .25em;
}

#blog-archives ul{
  list-style: none;
  margin: 0 -1em;
}
#blog-archives ul li{
  padding: .5em 1em;
}
#blog-archives ul li:nth-child(even){
  background-color: #fafafa;
}
#blog-archives time{
  float: right;
  margin-left: 1em;
}

@-ms-viewport{
  width: device-width;
  zoom: 1.0;
}

@viewport{
  width: device-width;
  zoom: 1.0;
}

@media print{
  footer{
    display: none;
  }

  #content a[href]{
    text-decoration: none;
  }
  #content a[href]:after{
    content: " (" attr(href) ") ";
    font-size: 90%;
  }
}
